body{/*спрашивает как-то грузин еврея: "попу мыл?", еврей ответил: "мыл", грузин тушит свечу*/
    --X:400px;
    --Y:300px;
    --RadiusE:200px;
    --RadiusM:100px;
}
PM{
    height: 30px;
    width: 30px;
    background: red;
        border-radius: 1000px;
                    display: block;
    position: absolute;
    left:calc(var(--X) - 15px);
    top: calc(var(--Y) - 15px);
    cursor: pointer;
    z-index: 1000;
}
PE{
    height: 10px;
    width: 10px;
    background: green;
        border-radius: 1000px;
                    display: block;
    position: absolute;
    left:calc(var(--X) - 73px);
    top: calc(var(--Y) - 73px);
}
PP{
    height: 10px;
    width: 10px;
    background: blueviolet;
        border-radius: 1000px;
    display: block;
    position: absolute;

}
VE{
    height: 2px;
    width: 50px;
    background: darkgreen;
    display: block;
    position: absolute;
    left:calc( var(--X) + 5px);
    top: calc( var(--Y) + 5px);
    transform: rotate(45deg);
    transform-origin: top left;
}
VM{
    height: 2px;
    width: 50px;
    background: darkred;
    display: block;
    position: absolute;
    left:calc( var(--X) + 5px);
    top: calc( var(--Y) + 5px);
    transform: rotate(45deg);
    transform-origin: top left;
}
RM{
    height: var(--RadiusM);
    width:  var(--RadiusM);
    background: transparent;
    border: 2px red solid;
    border-radius: 1000px;
    display: block;
    position: absolute;
    left:calc(var(--X) - var(--RadiusM) / 2 + 0px);
    top: calc(var(--Y) - var(--RadiusM) / 2 + 0px);
}
RE{
    height: var(--RadiusE);
    width:  var(--RadiusE);
    background: transparent;
    border: 2px green solid;
    border-radius: 1000px;
    display: block;
    position: absolute;
    left:calc(var(--X) - var(--RadiusE) / 2 + 1px);
    top: calc(var(--Y) - var(--RadiusE) / 2 + 1px);
}